body{
    background-color: #e9e9e9;
}

#clockContainer {
    height: 79vh;
    width: 100vh;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    margin: 2rem auto;
}

#hour, #minute, #second {
    position: relative;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    height: 15%;
    width: 1%;
    top: 35%;
    left: 49.5%;
    opacity: 0.8;
}

#minute {
    height: 20%;
    width: 1%;
    top: 15%;
    left: 49.5%;
    opacity: 0.8;
}

#second {
    height: 26%;
    width: 1%;
    top: -11%;
    left: 49.5%;
    opacity: 0.8;
}